<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>197425120863-ubcecfq4ibshqqgoo2gatmvtjs4ad50v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.197425120863-ubcecfq4ibshqqgoo2gatmvtjs4ad50v</string>
	<key>API_KEY</key>
	<string>AIzaSyAJya_ER17pAkrjPtNOa_ks4z7l8UCBtp8</string>
	<key>GCM_SENDER_ID</key>
	<string>197425120863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.carcassonne.app</string>
	<key>PROJECT_ID</key>
	<string>carcassonne-376c7</string>
	<key>STORAGE_BUCKET</key>
	<string>carcassonne-376c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:197425120863:ios:68ec8e6a388a54c5f2bdea</string>
</dict>
</plist>